/.bin/
/.mutt/
/neomutt/certificates
/neomutt/sigderrick
/neomutt/siginfo
/neomutt/sigme
/neomutt/aliases
/.config/
/.getmail/
/astrill-openvpn/
/astrill-openvpncn/
/abook
.goobookrc
/wallpapers
/iso
/mail/
.msmtprc
/.ssh/
